<h4>Import Contacts</h4>
<div class="input-group mb-3 flex-nowrap" >
  <%= form_tag import_contacts_path, multipart: true do %>
    <%= file_field_tag :file, class: "form-control form-control-sm" %>
    <%= submit_tag "Import", class: "btn btn-outline-secondary btn-sm" %>
  <% end %>
</div>
