<div class="col-12">
  <div class="blank_slate">
    No contacts yet
    <br/>
    <br/>
    
        <%= link_to  "+ New Contact", "#", class: "btn btn-success btn-sm" %>
        <%= link_to  "@ Import Contacts", "#", class: "btn btn-success btn-sm" %>

  </div>
</div>
